In [1]:

import pandas as pd
import numpy as np

### EDA PROFILE:

In [2]:
profile = pd.read_csv('../Clean Files/Profile/0V-profile_killers.csv')

In [3]:
#IDENTIFYING NULLS AND DATA TYPE

profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              711 non-null    object
 1   Nicknames         469 non-null    object
 2   Age               243 non-null    float64
 3   Born Date         444 non-null    object
 4   Born Location     420 non-null    object
 5   Died Date         308 non-null    object
 6   Died Location     227 non-null    object
 7   Conviction        502 non-null    object
 8   Criminal Penalty  577 non-null    object
 9   Date Apprehended  543 non-null    object
dtypes: float64(1), object(9)
memory usage: 55.7+ KB

In [4]:
# SPLITING BORN LOCATION, TO CREATE NEW COLUMN WITH COUNTRY


profile['born country'] = profile['Born Location'].apply(
    lambda x: x.split(',')[-1].strip() if pd.notnull(x) else None)

In [5]:
# SAVING CLEAN FILE
profile.to_csv('../Clean Files/Profile/1V-profile_killers.csv', index=False)

### EDA VICTIMS:

In [6]:
victims = pd.read_csv('../Clean Files/Victims/0V-serial_killers_by_victims.csv')

In [7]:
# IDENTIFYING ALL UNIQUE VALUES TO HELP WITH DICTIONARY CREATION

list(victims['Country'].unique())

['Colombia, Ecuador, Venezuela',
 'Colombia, Peru, Ecuador',
 'Pakistan',
 'Russia',
 'Colombia, Ecuador, Brazil',
 'Brazil',
 'India',
 'Iran',
 'China',
 'Afghanistan',
 'United States',
 'Belgian Congo, Tanganyika',
 'Soviet Union',
 'Soviet Union, Ukraine',
 'Indonesia',
 'South Africa',
 'Morocco',
 'Kingdom of Romania, Yugoslavia, Hungary',
 'Mexico',
 'Ottoman Empire, Iraq, Iran',
 'Egypt',
 'Germany',
 'Colombia',
 'Zambia',
 'Swaziland',
 'Greece',
 'Canada',
 'United Kingdom',
 'Austria-Hungary',
 'France, Germany, Switzerland',
 'Ecuador',
 'United States, Canada',
 'Soviet Union, Russia, Tajikistan',
 'Romania',
 'South Korea',
 'Costa Rica',
 'Soviet Union, Russia',
 'Latvia',
 'Turkey',
 'France',
 'Sri Lanka',
 'Peru',
 'Ukraine',
 'Italy',
 'France, Belgium',
 'Spain',
 'United States, Mexico',
 'Argentina',
 'Poland',
 'Chile',
 'West Germany',
 'Tunisia',
 'Venezuela',
 'Rwanda',
 'Thailand, Nepal, India, Malaysia',
 'Yemen',
 'Japan',
 'Austria, United States, Czechoslovakia',
 'Belgium',
 'Bangladesh',
 'Czechoslovakia',
 'Soviet Union, Russia, Ukraine',
 'Kenya',
 'German Empire, Germany',
 'Denmark',
 'Ecuador, Spain',
 'Czechoslovakia, Germany, Netherlands',
 'Sweden',
 'China, Japan',
 'Australia',
 'Spain, France, Italy',
 'Canada, United States',
 'Cyprus',
 'Italy, France',
 'East Germany, Germany, France, Spain, Czech Republic, Italy',
 'Belarus',
 'East Germany, Germany',
 'Estonia',
 'United States, Portuguese Angola',
 'Switzerland, France, United States, Yugoslavia, Italy',
 'West Germany, United States',
 'Netherlands',
 'SR Croatia',
 'Panama',
 'Singapore',
 'Belize',
 'SR Slovenia',
 'Namibia',
 'United Kingdom, Ireland, West Germany, Netherlands, France',
 'Austria',
 'Hong Kong',
 'Israel',
 'Allied-occupied Germany, West Germany',
 'Republic of Macedonia',
 'East Germany',
 'SR Slovenia, Serbia and Montenegro, Slovenia',
 'Portugal',
 'Malaysia',
 'United States, Austria, France, United Kingdom',
 'Singapore, Malaysia',
 'Kingdom of Yugoslavia',
 'Iraq',
 'Norway',
 'Switzerland',
 'Czech Republic',
 'Imperial State of Iran',
 'Finland',
 'United States, Zimbabwe',
 'Hungary',
 'Belgium, France',
 'Guatemala',
 'Uzbekistan, Kazakhstan',
 'Italy, West Germany, Netherlands']

In [8]:
# DICTIONARY CREATION CATEGORIZING COUNTRIES BY CONTINENT, INCLUDING MULTIPLE CONTINENTS

country_to_continent = {
    'Colombia, Ecuador, Venezuela': 'South America',
    'Colombia, Peru, Ecuador': 'South America',
    'Pakistan': 'Asia',
    'Russia': 'Europe',
    'Colombia, Ecuador, Brazil': 'South America',
    'Brazil': 'South America',
    'India': 'Asia',
    'Iran': 'Asia',
    'China': 'Asia',
    'Afghanistan': 'Asia',
    'United States': 'North America',
    'Belgian Congo, Tanganyika': 'Multiple continents',
    'Soviet Union': 'Multiple continents',
    'Soviet Union, Ukraine': 'Multiple continents',
    'Indonesia': 'Asia',
    'South Africa': 'Africa',
    'Morocco': 'Africa',
    'Kingdom of Romania, Yugoslavia, Hungary': 'Europe',
    'Mexico': 'North America',
    'Ottoman Empire, Iraq, Iran': 'Multiple continents',
    'Egypt': 'Africa',
    'Germany': 'Europe',
    'Colombia': 'South America',
    'Zambia': 'Africa',
    'Swaziland': 'Africa',
    'Greece': 'Europe',
    'Canada': 'North America',
    'United Kingdom': 'Europe',
    'Austria-Hungary': 'Multiple continents',
    'France, Germany, Switzerland': 'Europe',
    'Ecuador': 'South America',
    'United States, Canada': 'North America',
    'Soviet Union, Russia, Tajikistan': 'Multiple continents',
    'Romania': 'Europe',
    'South Korea': 'Asia',
    'Costa Rica': 'North America',
    'Soviet Union, Russia': 'Multiple continents',
    'Latvia': 'Europe',
    'Turkey': 'Asia',
    'France': 'Europe',
    'Sri Lanka': 'Asia',
    'Peru': 'South America',
    'Ukraine': 'Europe',
    'Italy': 'Europe',
    'France, Belgium': 'Europe',
    'Spain': 'Europe',
    'United States, Mexico': 'North America',
    'Argentina': 'South America',
    'Poland': 'Europe',
    'Chile': 'South America',
    'West Germany': 'Europe',
    'Tunisia': 'Africa',
    'Venezuela': 'South America',
    'Rwanda': 'Africa',
    'Thailand, Nepal, India, Malaysia': 'Asia',
    'Yemen': 'Asia',
    'Japan': 'Asia',
    'Austria, United States, Czechoslovakia': 'Europe',
    'Belgium': 'Europe',
    'Bangladesh': 'Asia',
    'Czechoslovakia': 'Europe',
    'Soviet Union, Russia, Ukraine': 'Multiple continents',
    'Kenya': 'Africa',
    'German Empire, Germany': 'Europe',
    'Denmark': 'Europe',
    'Ecuador, Spain': 'South America',
    'Czechoslovakia, Germany, Netherlands': 'Europe',
    'Sweden': 'Europe',
    'China, Japan': 'Asia',
    'Australia': 'Oceania',
    'Spain, France, Italy': 'Europe',
    'Canada, United States': 'North America',
    'Cyprus': 'Asia',
    'Italy, France': 'Europe',
    'East Germany, Germany, France, Spain, Czech Republic, Italy': 'Europe',
    'Belarus': 'Europe',
    'East Germany, Germany': 'Europe',
    'Estonia': 'Europe',
    'United States, Portuguese Angola': 'North America',
    'Switzerland, France, United States, Yugoslavia, Italy': 'Europe',
    'West Germany, United States': 'Europe',
    'Netherlands': 'Europe',
    'SR Croatia': 'Europe',
    'Panama': 'North America',
    'Singapore': 'Asia',
    'Belize': 'North America',
    'SR Slovenia': 'Europe',
    'Namibia': 'Africa',
    'United Kingdom, Ireland, West Germany, Netherlands, France': 'Europe',
    'Austria': 'Europe',
    'Hong Kong': 'Asia',
    'Israel': 'Asia',
    'Allied-occupied Germany, West Germany': 'Multiple continents',
    'Republic of Macedonia': 'Europe',
    'East Germany': 'Europe',
    'SR Slovenia, Serbia and Montenegro, Slovenia': 'Europe',
    'Portugal': 'Europe',
    'Malaysia': 'Asia',
    'United States, Austria, France, United Kingdom': 'North America',
    'Singapore, Malaysia': 'Asia',
    'Kingdom of Yugoslavia': 'Europe',
    'Iraq': 'Asia',
    'Norway': 'Europe',
    'Switzerland': 'Europe',
    'Czech Republic': 'Europe',
    'Imperial State of Iran': 'Multiple continents',
    'Finland': 'Europe',
    'United States, Zimbabwe': 'North America',
    'Hungary': 'Europe',
    'Belgium, France': 'Europe',
    'Guatemala': 'North America',
    'Uzbekistan, Kazakhstan': 'Asia',
    'Italy, West Germany, Netherlands': 'Europe'
}

In [9]:
# APPLYING THE COLUMN CREATION TO ADD CONTINENT

victims['Continent'] = victims['Country'].map(country_to_continent)

In [10]:
# CONFIRMING THE CHANGE AND COUNTING VALUES

victims['Continent'].value_counts()

Continent
North America          325
Europe                 214
Asia                    95
Africa                  39
South America           33
Multiple continents     31
Oceania                 20
Name: count, dtype: int64

In [11]:
# FUNCTION TO CATEGORIZE COUNTRIES AS UNIQUE OR MULTIPLE COUNTRIES:

def categorize_multiple_countries(country_series):
    return country_series.apply(lambda x: "Multiple Countries" if ',' in x else x)

In [12]:
# APPLYING THE CATEGORIES TO CREATE THE NEW COLUMN 'COUNTRY SORTED'

victims['Country sorted'] = categorize_multiple_countries(victims['Country'])

In [13]:
# CONFIRM COLUMN CREATING, AND CHECKING NULLS AND DATA TYPE

victims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              757 non-null    object
 1   Country           757 non-null    object
 2   Start year        738 non-null    float64
 3   End year          740 non-null    float64
 4   Proven victims    757 non-null    float64
 5   Possible victims  757 non-null    float64
 6   Notes             754 non-null    object
 7   Continent         757 non-null    object
 8   Country sorted    757 non-null    object
dtypes: float64(4), object(5)
memory usage: 53.4+ KB

In [14]:
# CONVERTING FLOATS TO INTEGER

victims[['Start year', 'End year', 'Proven victims', 'Possible victims']] = victims[['Start year', 'End year', 'Proven victims', 'Possible victims']].astype('Int64')

In [15]:
# CREATING COLUMN OF MEDIAN YEARS OF THE CRIMES:

victims['Median Year'] = (victims['Start year'] + victims['End year']) / 2

victims['Median Year'] = victims['Median Year'].astype('Int64')

In [16]:
# CREATING COLUMN DECADE AND CONFERTING AS STRING

victims['Decade'] = (victims['Median Year'] // 10) * 10

victims['Decade'] = victims['Decade'].astype('Int64').astype(str) + 's'

victims['Decade'] = victims['Decade'].replace('<NA>', 'Unknown')

In [17]:
# CREATING DICTIONARY AND APPKYING TO CATEGORIZE KILLERS BY GENRE

female_killers = [
    'Marie Fikáčková', 'Ivanova and Olga Tamarin', 'Gwendolyn Graham and Catherine May Wood',
    'Felícitas Sánchez Aguillón', 'Delfina and María de Jesús González', 'Angel Makers of Nagyrév',
    'Lainz Angels of Death', 'Silvia Merez Cult', 'Amelia Sach and Annie Walters', 'Belle Gunness',
    'Aileen Wuornos', 'Dorothea Puente', 'Juana Barraza', 'Jane Toppan', 'Genene Jones',
    'Beverley Allitt', 'Enriqueta Martí', 'Tillie Klimek', 'Mariane Nölle', 'Vickie Dawn Jackson',
    'Joan Vila', 'Linda Hazzard', 'Ann Arber Hospital Killer', 'Elizabeth Wettlaufer', 'Velma Barfield',
    'Lyda Southard', 'Shirley Winters', 'Francisca Ballesteros', 'Valery Asratyan', 'Martha Rendell',
    'Sharon Kinne', 'Leonarda Cianciulli', 'Bertha Gifford', 'Rhonda Belle Martin', 'Reta Mays',
    'Marybeth Tinning', 'Jeanne Weber', 'Marie Alexandrine Becker', 'Antoinette Scieri', 'Kristen Gilbert',
    'Sonya Caleffi', 'Kimberly Clark Saenz', 'Vera Renczi', 'Mariam Soulakiotis', 'Irina Gaidamachuk',
    'Tamara Samsonova', 'Celine Lesage', 'Elisabeth Wiese', 'Anna Marie Hahn', 'Waneta Hoyt',
    'Lucy Letby', 'Frans Hooijmaijers', 'Miyuki Ishikawa', 'Amy Archer-Gilligan', 'Aino Nykopp-Koski',
    'Elfriede Blauensteiner', 'Joanna Dennehy', 'Mary Elizabeth Wilson'
]

gangs = [
    "Raya and Sakina and their husbands", "Beasts of Satan", "Chijon Family", "The Family",
    "Ian Brady and Myra Hindley", "Ray and Faye Copeland", "The Skin Hunters", "The Hernández Brothers Sect",
    "The Ciudad Juárez Rebels", "Tadeusz Grzesik and the Bureaucrats Gang", "The Manson Family cult killings",
    "National Socialist Underground", "Joshi-Abhyankar serial murderers", "Hillside Stranglers",
    "Bloody Benders", "The Cleaners", "Lainz Angels of Death", "Death Angels", "Ripper Crew",
    "Anísio Ferreira de Sousa and followers", "Marcelo de Jesus Silva and his death squad", "Shankill Butchers",
    "Brabant killers", "Gang of Amazons", "Murder Incorporated", "Auto Shankar's Gang", "Mailoni Brothers",
    "Briley Brothers", "David Avendaño Ballina and his followers", "Philadelphia poison ring"
]

couples = [
    "Michael Bear Carson and Suzan Carson", "Paul Bernardo and Karla Homolka", "Raymond Fernandez and Martha Beck",
    "David and Catherine Birnie", "James Gregory Marlow and Cynthia Coffman", "Rudolfo Infante and Anna Villeda",
    "Gerald and Charlene Gallego", "Juan Carlos Hernández and Patricia Martínez", "Fred West and Rosemary West",
    "Adolfo Constanzo and Sara Aldrete", "Ray and Faye Copeland", "Ian Brady and Myra Hindley",
    "Futoshi Matsunaga and Junko Ogata", "Long Zhimin and Yan Shuxia", "Abboud and Khajawa"
]

male_groups = [
    "Joseph and Michael Kallinger", "James Paster and Stephen McCoy", "John Duffy and David Mulcahy",
    "Loren Herzog and Wesley Shermantine", "Lawrence Bittaker and Roy Norris",
    "Artyom Alexandrovich Anoufriev and Nikita Vakhtangovich Lytkin", "David Alan Gore and Fred Waterfield",
    "Hermann Duft and Hans Wilhelm Bassenauer", "Kiss brothers and Zsolt István Pető", "Gert van Rooyen and Joey Haarhof",
    "Johannes van Rooyen and Dumisani Makhubela", "Fa Ziying and Lao Rongzhi", "Christopher Worrell and James Miller",
    "Dale Hausner and Samuel Dieteman", "Edgar Álvarez Cruz and Francisco Granados", "Song Jinghua and Yan Jinguang",
    "Yevgeny Nagorny and Sergei Stavitsky", "Wolfgang Abel and Marco Furlan", "Polatbay Berdaliyev and Abduseit Ormanov",
    "Shen Changyin and Shen Changpin", "Leonard Lake and Charles Ng", "John Justin Bunting, Robert Joe Wagner and James Spyridon Vlassakis",
    "José Miculax Bux and Mariano Macú Miculax", "Vladyslav Volkovic and Volodymyr Kondratenko",
    "John Allen Muhammad and Lee Boyd Malvo", "Wang Zongfang and Wang Zongwei", "Viktor Sayenko and Igor Suprunyuk",
    "Dean Corll, David Owen Brooks and Elmer Wayne Henley", "Bian Kuang, Fu Xinyuan and Luo Lianshun",
    "Hassan Orangi and Abbas Ali Zarifian", "Peng Miaoji, Ding Yunjia and Su Xiaoping"
]

unidentified = [
    "Monster of the Mangones", "Cape Town Prostitute Killer", "El Psicópata",
    "Atlanta Ripper", "Cleveland Torso Murderer", "Rainbow Maniac", "Paraquat murders",
    "Long Island serial killer", "New Bedford Highway", "Edgecombe County Serial Killer",
    "Axeman of New Orleans", "Forest City Killer", "Łódź Gay Murderer", "The Doodler", "Bible John","Monster of Florence"
]

# FUNCTION TO APPLY:

def classify_killer(name):
    if name in female_killers:
        return 'Female'
    elif name in gangs:
        return 'Gang'
    elif name in couples:
        return 'Couple'
    elif name in male_groups:
        return 'Male Group'
    elif name in unidentified:
        return 'Unidentified'
    else:
        return 'Male'

# APPLYING THE FUNCTION TO THE DATA FRAME

victims['Killer Type'] =  victims['Name'].apply(classify_killer)

In [18]:
#CRIATING POSSIBLE NON PROVEN VICTIMS, WHICH IS THE DIFFERENCE FROM POSSIBLE VICTMS AND PROVEN

victims['Unproven Possible Victims'] = victims['Possible victims'] - victims['Proven victims']

In [19]:
# RENAMING POSSIBLE VICTIMS TO 'Total victims (Unproven + Proven)' TO BE MORE DISCRITIVE

victims.rename(columns={'Possible victims': 'Total victims (Unproven + Proven)'}, inplace=True)

In [20]:
# CREATING COLUNN 'YEARS ACTIVE' TO UNDERSTAND THE PERIOD OF ACTIVITY FROM KILLERS/ CRIMES

victims['Years Active'] = victims['End year'] - victims['Start year']

In [21]:
# REORDERING COLUMNS BY SIMILARITY

toreorder = ['Name',
             'Killer Type', 
             'Country', 
             'Country sorted' , 
             'Continent',
             'Start year', 
             'End year', 
             'Median Year', 
             'Years Active',
             'Decade', 
             'Total victims (Unproven + Proven)',
             'Unproven Possible Victims',
             'Proven victims',
             'Notes']

victims = victims[toreorder]

In [22]:
# ALL COLUMNS NAMES TO TITLE

victims.columns = victims.columns.str.title()

In [23]:
# CONFIRMING ALL CHANGES

victims.head()

,Name,Killer Type,Country,Country Sorted,Continent,Start Year,End Year,Median Year,Years Active,Decade,Total Victims (Unproven + Proven),Unproven Possible Victims,Proven Victims,Notes
0,Luis Garavito,Male,"Colombia, Ecuador, Venezuela",Multiple Countries,South America,1992,1999,1995,7,1990s,247,54,193,"Child-murderer, torture-killer, and rapist kno..."
1,Pedro López,Male,"Colombia, Peru, Ecuador",Multiple Countries,South America,1969,1980,1974,11,1970s,300,190,110,"Child-murderer and rapist, known as ""The Monst..."
2,Javed Iqbal,Male,Pakistan,Pakistan,Asia,1998,1999,1998,1,1990s,100,0,100,"Child-murderer and rapist, known as ""Kukri"", I..."
3,Mikhail Popkov,Male,Russia,Russia,Europe,1992,2010,2001,18,2000s,86,3,83,"Serial rapist-killer nicknamed ""The Werewolf"",..."
4,Daniel Camargo Barbosa,Male,"Colombia, Ecuador, Brazil",Multiple Countries,South America,1974,1986,1980,12,1980s,180,108,72,"Child and woman murderer, believed to have pos..."

In [24]:
victims.to_csv('../Clean Files/Victims/1V-serial_killers_by_victims.csv', index=False)

### CREATING TOP 15 KILLERS FILE

In [25]:
top15 = pd.read_csv('../Clean Files/Victims/1V-serial_killers_by_victims.csv')

In [26]:
# SORTING THE TOP 15 BASED ON 'POSSIBLE VICTIMS' , THIS COLUMN HAS BEEN IDENTIFYIED AS A POSSIBLE TOTAL VICTIMS LATER

top15 = top15.sort_values(by='Total Victims (Unproven + Proven)', ascending=False,).head(15).copy()

In [27]:
# CREATION OF DICTIONARY INCLUDING URL WITH KILLER PHOTO TO INCLUDE AS A COLUMN LATER

imagenes = {
    'Murder Incorporated': 'https://www.legendsofamerica.com/wp-content/uploads/2017/08/Murderinc.jpg',
    'The Skin Hunters': 'https://static.wikia.nocookie.net/skdb/images/2/2c/Andrzej_Nowocie%C5%84.jpg/revision/latest?cb=20230707162353',
    'Charles Cullen': 'https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/msnbc/Components/Photos/060319/060319_cullen_vsml_8a.jpg',
    'Amelia Sach and Annie Walters': 'https://pm1.aminoapps.com/6044/e102b3c5568cd78a3fb4e16d3d4d4f032f526a8b_00.jpg',
    'Pedro López': 'https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/11/14100939/Pedro-Alonso-Lopez-el-Monstruo-de-los-Andes-3.jpg',
    'Angel Makers of Nagyrév': 'https://www.economist.com/cdn-cgi/image/width=1424,quality=80,format=auto/content-assets/images/20230318_CUP001.jpg',
    'Niels Högel': 'https://www.lavanguardia.com/files/content_image_mobile_filter/uploads/2022/04/21/6261a4bb37515.jpeg',
    'Abul Djabar': 'https://alpha-assets.tadevel-cdn.com/663d766925bc4c6ee7e00f81/720.webp',
    'Frans Hooijmaijers': 'https://thumbor.pijper.io/5EwhMNHH-OViNv253yb-ej8DMuY=/728x0/https%3A%2F%2Fcdn.pijper.io%2F2024%2F11%2Fq6DZBqjmCkIjDH1731685697.png',
    'Harold Shipman': 'https://m.media-amazon.com/images/S/pv-target-images/43d413170f9c3edaac3eceefaedc067b210f7cd44f5566140bceeb13ac977637.jpg',
    'Luis Garavito': 'https://upload.wikimedia.org/wikipedia/commons/7/7b/Luis_Alfredo_Garavito_Cubillos.jpg',
    'Kermit Gosnell': 'https://media.philly.com/images/20140213_dn_0n0wr3al.jpg',
    'Daniel Camargo Barbosa': 'https://upload.wikimedia.org/wikipedia/commons/e/ef/Daniel_Camargo_Barbosa_1958_Mugshot.png',
    'Mariam Soulakiotis': 'https://images.findagrave.com/photos/2024/251/245406222_a2b9c415-c479-410f-afd9-71f5b42a883a.jpeg',
    'Richard Kuklinski': 'https://swashvillage.org/storage/img/images/richard-the-iceman-kuklinski-biography_2.jpg'
}

In [28]:
# CREATING COLUMN WITH PHOTO OF THE KILLERS

top15['Image'] = top15['Name'].map(imagenes)

In [29]:
top15.head()

,Name,Killer Type,Country,Country Sorted,Continent,Start Year,End Year,Median Year,Years Active,Decade,Total Victims (Unproven + Proven),Unproven Possible Victims,Proven Victims,Notes,Image
675,Murder Incorporated,Gang,United States,United States,North America,1920.0,NaN,NaN,NaN,<NA>s,1000,600,400,Murder Incorporated or Murder Inc. for short w...,https://www.legendsofamerica.com/wp-content/up...
737,The Skin Hunters,Gang,Poland,Poland,Europe,NaN,2002.0,NaN,NaN,<NA>s,620,615,5,Hospital crew that killed patients in order to...,https://static.wikia.nocookie.net/skdb/images/...
631,Charles Cullen,Male,United States,United States,North America,1988.0,2003.0,1995.0,15.0,1990s,400,371,29,Nurse in New Jersey and Pennsylvania who murde...,https://media-cldnry.s-nbcnews.com/image/uploa...
756,Amelia Sach and Annie Walters,Female,United Kingdom,United Kingdom,Europe,1900.0,1903.0,1901.0,3.0,1900s,300,299,1,"Sach and Walters, known as the ""Finchley baby ...",https://pm1.aminoapps.com/6044/e102b3c5568cd78...
1,Pedro López,Male,"Colombia, Peru, Ecuador",Multiple Countries,South America,1969.0,1980.0,1974.0,11.0,1970s,300,190,110,"Child-murderer and rapist, known as ""The Monst...",https://s3.amazonaws.com/arc-wordpress-client-...

In [30]:
top15.head()

,Name,Killer Type,Country,Country Sorted,Continent,Start Year,End Year,Median Year,Years Active,Decade,Total Victims (Unproven + Proven),Unproven Possible Victims,Proven Victims,Notes,Image
675,Murder Incorporated,Gang,United States,United States,North America,1920.0,NaN,NaN,NaN,<NA>s,1000,600,400,Murder Incorporated or Murder Inc. for short w...,https://www.legendsofamerica.com/wp-content/up...
737,The Skin Hunters,Gang,Poland,Poland,Europe,NaN,2002.0,NaN,NaN,<NA>s,620,615,5,Hospital crew that killed patients in order to...,https://static.wikia.nocookie.net/skdb/images/...
631,Charles Cullen,Male,United States,United States,North America,1988.0,2003.0,1995.0,15.0,1990s,400,371,29,Nurse in New Jersey and Pennsylvania who murde...,https://media-cldnry.s-nbcnews.com/image/uploa...
756,Amelia Sach and Annie Walters,Female,United Kingdom,United Kingdom,Europe,1900.0,1903.0,1901.0,3.0,1900s,300,299,1,"Sach and Walters, known as the ""Finchley baby ...",https://pm1.aminoapps.com/6044/e102b3c5568cd78...
1,Pedro López,Male,"Colombia, Peru, Ecuador",Multiple Countries,South America,1969.0,1980.0,1974.0,11.0,1970s,300,190,110,"Child-murderer and rapist, known as ""The Monst...",https://s3.amazonaws.com/arc-wordpress-client-...

In [31]:
top15[['Start Year', 'End Year', 'Median Year', 'Years Active']] = top15[['Start Year', 'End Year', 'Median Year', 'Years Active']].astype('Int64')

In [32]:
top15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 675 to 490
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Name                               15 non-null     object
 1   Killer Type                        15 non-null     object
 2   Country                            15 non-null     object
 3   Country Sorted                     15 non-null     object
 4   Continent                          15 non-null     object
 5   Start Year                         12 non-null     Int64
 6   End Year                           14 non-null     Int64
 7   Median Year                        11 non-null     Int64
 8   Years Active                       11 non-null     Int64
 9   Decade                             15 non-null     object
 10  Total Victims (Unproven + Proven)  15 non-null     int64
 11  Unproven Possible Victims          15 non-null     int64
 12  Proven Victims                     15 non-null     int64
 13  Notes                              14 non-null     object
 14  Image                              15 non-null     object
dtypes: Int64(4), int64(3), object(8)
memory usage: 1.9+ KB

In [33]:
top15.to_csv('../Clean Files/Victims/top15_killers_by_victims.csv', index=False)