In [9]:

import pandas as pd
import numpy as np

### EDA PROFILE:

In [11]:
profile = pd.read_csv('../Clean Files/Profile/0V-profile_killers.csv')

In [12]:
#IDENTIFYING NULLS AND DATA TYPE

profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              711 non-null    object
 1   Nicknames         469 non-null    object
 2   Age               243 non-null    float64
 3   Born Date         444 non-null    object
 4   Born Location     420 non-null    object
 5   Died Date         308 non-null    object
 6   Died Location     227 non-null    object
 7   Conviction        502 non-null    object
 8   Criminal Penalty  577 non-null    object
 9   Date Apprehended  543 non-null    object
dtypes: float64(1), object(9)
memory usage: 55.7+ KB

In [13]:
# SPLITING BORN LOCATION, TO CREATE NEW COLUMN WITH COUNTRY


profile['born country'] = profile['Born Location'].apply(
    lambda x: x.split(',')[-1].strip() if pd.notnull(x) else None)

In [14]:
# SAVING CLEAN FILE
profile.to_csv('../Clean Files/Profile/1V-profile_killers.csv', index=False)

### EDA VICTIMS:

In [15]:
victims = pd.read_csv('../Clean Files/Victims/0V-serial_killers_by_victims.csv')

In [ ]:
# IDENTIFYING ALL UNIQUE VALUES TO HELP WITH DICTIONARY CREATION

list(victims['Country'].unique())

['Colombia, Ecuador, Venezuela',
 'Colombia, Peru, Ecuador',
 'Pakistan',
 'Russia',
 'Colombia, Ecuador, Brazil',
 'Brazil',
 'India',
 'Iran',
 'China',
 'Afghanistan',
 'United States',
 'Belgian Congo, Tanganyika',
 'Soviet Union',
 'Soviet Union, Ukraine',
 'Indonesia',
 'South Africa',
 'Morocco',
 'Kingdom of Romania, Yugoslavia, Hungary',
 'Mexico',
 'Ottoman Empire, Iraq, Iran',
 'Egypt',
 'Germany',
 'Colombia',
 'Zambia',
 'Swaziland',
 'Greece',
 'Canada',
 'United Kingdom',
 'Austria-Hungary',
 'France, Germany, Switzerland',
 'Ecuador',
 'United States, Canada',
 'Soviet Union, Russia, Tajikistan',
 'Romania',
 'South Korea',
 'Costa Rica',
 'Soviet Union, Russia',
 'Latvia',
 'Turkey',
 'France',
 'Sri Lanka',
 'Peru',
 'Ukraine',
 'Italy',
 'France, Belgium',
 'Spain',
 'United States, Mexico',
 'Argentina',
 'Poland',
 'Chile',
 'West Germany',
 'Tunisia',
 'Venezuela',
 'Rwanda',
 'Thailand, Nepal, India, Malaysia',
 'Yemen',
 'Japan',
 'Austria, United States, Czechoslovakia',
 'Belgium',
 'Bangladesh',
 'Czechoslovakia',
 'Soviet Union, Russia, Ukraine',
 'Kenya',
 'German Empire, Germany',
 'Denmark',
 'Ecuador, Spain',
 'Czechoslovakia, Germany, Netherlands',
 'Sweden',
 'China, Japan',
 'Australia',
 'Spain, France, Italy',
 'Canada, United States',
 'Cyprus',
 'Italy, France',
 'East Germany, Germany, France, Spain, Czech Republic, Italy',
 'Belarus',
 'East Germany, Germany',
 'Estonia',
 'United States, Portuguese Angola',
 'Switzerland, France, United States, Yugoslavia, Italy',
 'West Germany, United States',
 'Netherlands',
 'SR Croatia',
 'Panama',
 'Singapore',
 'Belize',
 'SR Slovenia',
 'Namibia',
 'United Kingdom, Ireland, West Germany, Netherlands, France',
 'Austria',
 'Hong Kong',
 'Israel',
 'Allied-occupied Germany, West Germany',
 'Republic of Macedonia',
 'East Germany',
 'SR Slovenia, Serbia and Montenegro, Slovenia',
 'Portugal',
 'Malaysia',
 'United States, Austria, France, United Kingdom',
 'Singapore, Malaysia',
 'Kingdom of Yugoslavia',
 'Iraq',
 'Norway',
 'Switzerland',
 'Czech Republic',
 'Imperial State of Iran',
 'Finland',
 'United States, Zimbabwe',
 'Hungary',
 'Belgium, France',
 'Guatemala',
 'Uzbekistan, Kazakhstan',
 'Italy, West Germany, Netherlands']

In [21]:
# DICTIONARY CREATION CATEGORIZING COUNTRIES BY CONTINENT, INCLUDING MULTIPLE CONTINENTS

country_to_continent = {
    'Colombia, Ecuador, Venezuela': 'South America',
    'Colombia, Peru, Ecuador': 'South America',
    'Pakistan': 'Asia',
    'Russia': 'Europe',
    'Colombia, Ecuador, Brazil': 'South America',
    'Brazil': 'South America',
    'India': 'Asia',
    'Iran': 'Asia',
    'China': 'Asia',
    'Afghanistan': 'Asia',
    'United States': 'North America',
    'Belgian Congo, Tanganyika': 'Multiple continents',
    'Soviet Union': 'Multiple continents',
    'Soviet Union, Ukraine': 'Multiple continents',
    'Indonesia': 'Asia',
    'South Africa': 'Africa',
    'Morocco': 'Africa',
    'Kingdom of Romania, Yugoslavia, Hungary': 'Europe',
    'Mexico': 'North America',
    'Ottoman Empire, Iraq, Iran': 'Multiple continents',
    'Egypt': 'Africa',
    'Germany': 'Europe',
    'Colombia': 'South America',
    'Zambia': 'Africa',
    'Swaziland': 'Africa',
    'Greece': 'Europe',
    'Canada': 'North America',
    'United Kingdom': 'Europe',
    'Austria-Hungary': 'Multiple continents',
    'France, Germany, Switzerland': 'Europe',
    'Ecuador': 'South America',
    'United States, Canada': 'North America',
    'Soviet Union, Russia, Tajikistan': 'Multiple continents',
    'Romania': 'Europe',
    'South Korea': 'Asia',
    'Costa Rica': 'North America',
    'Soviet Union, Russia': 'Multiple continents',
    'Latvia': 'Europe',
    'Turkey': 'Asia',
    'France': 'Europe',
    'Sri Lanka': 'Asia',
    'Peru': 'South America',
    'Ukraine': 'Europe',
    'Italy': 'Europe',
    'France, Belgium': 'Europe',
    'Spain': 'Europe',
    'United States, Mexico': 'North America',
    'Argentina': 'South America',
    'Poland': 'Europe',
    'Chile': 'South America',
    'West Germany': 'Europe',
    'Tunisia': 'Africa',
    'Venezuela': 'South America',
    'Rwanda': 'Africa',
    'Thailand, Nepal, India, Malaysia': 'Asia',
    'Yemen': 'Asia',
    'Japan': 'Asia',
    'Austria, United States, Czechoslovakia': 'Europe',
    'Belgium': 'Europe',
    'Bangladesh': 'Asia',
    'Czechoslovakia': 'Europe',
    'Soviet Union, Russia, Ukraine': 'Multiple continents',
    'Kenya': 'Africa',
    'German Empire, Germany': 'Europe',
    'Denmark': 'Europe',
    'Ecuador, Spain': 'South America',
    'Czechoslovakia, Germany, Netherlands': 'Europe',
    'Sweden': 'Europe',
    'China, Japan': 'Asia',
    'Australia': 'Oceania',
    'Spain, France, Italy': 'Europe',
    'Canada, United States': 'North America',
    'Cyprus': 'Asia',
    'Italy, France': 'Europe',
    'East Germany, Germany, France, Spain, Czech Republic, Italy': 'Europe',
    'Belarus': 'Europe',
    'East Germany, Germany': 'Europe',
    'Estonia': 'Europe',
    'United States, Portuguese Angola': 'North America',
    'Switzerland, France, United States, Yugoslavia, Italy': 'Europe',
    'West Germany, United States': 'Europe',
    'Netherlands': 'Europe',
    'SR Croatia': 'Europe',
    'Panama': 'North America',
    'Singapore': 'Asia',
    'Belize': 'North America',
    'SR Slovenia': 'Europe',
    'Namibia': 'Africa',
    'United Kingdom, Ireland, West Germany, Netherlands, France': 'Europe',
    'Austria': 'Europe',
    'Hong Kong': 'Asia',
    'Israel': 'Asia',
    'Allied-occupied Germany, West Germany': 'Multiple continents',
    'Republic of Macedonia': 'Europe',
    'East Germany': 'Europe',
    'SR Slovenia, Serbia and Montenegro, Slovenia': 'Europe',
    'Portugal': 'Europe',
    'Malaysia': 'Asia',
    'United States, Austria, France, United Kingdom': 'North America',
    'Singapore, Malaysia': 'Asia',
    'Kingdom of Yugoslavia': 'Europe',
    'Iraq': 'Asia',
    'Norway': 'Europe',
    'Switzerland': 'Europe',
    'Czech Republic': 'Europe',
    'Imperial State of Iran': 'Multiple continents',
    'Finland': 'Europe',
    'United States, Zimbabwe': 'North America',
    'Hungary': 'Europe',
    'Belgium, France': 'Europe',
    'Guatemala': 'North America',
    'Uzbekistan, Kazakhstan': 'Asia',
    'Italy, West Germany, Netherlands': 'Europe'
}

In [22]:
# APPLYING THE COLUMN CREATION TO ADD CONTINENT

victims['Continent'] = victims['Country'].map(country_to_continent)

In [ ]:
# CONFIRMING THE CHANGE AND COUNTING VALUES

victims['Continent'].value_counts()

Continent
North America          325
Europe                 214
Asia                    95
Africa                  39
South America           33
Multiple continents     31
Oceania                 20
Name: count, dtype: int64

In [24]:
# FUNCTION TO CATEGORIZE COUNTRIES AS UNIQUE OR MULTIPLE COUNTRIES:

def categorize_multiple_countries(country_series):
    return country_series.apply(lambda x: "Multiple Countries" if ',' in x else x)

In [ ]:
# APPLYING THE CATEGORIES TO CREATE THE NEW COLUMN 'COUNTRY SORTED'

victims['Country Sorted'] = categorize_multiple_countries(victims['Country'])

In [ ]:
# CONFIRM COLUMN CREATING, AND CHECKING NULLS AND DATA TYPE

victims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              757 non-null    object
 1   Country           757 non-null    object
 2   Start year        738 non-null    float64
 3   End year          740 non-null    float64
 4   Proven victims    757 non-null    float64
 5   Possible victims  757 non-null    float64
 6   Notes             754 non-null    object
 7   country sorted    757 non-null    object
 8   Continent         757 non-null    object
 9   Country Sorted    757 non-null    object
dtypes: float64(4), object(6)
memory usage: 59.3+ KB

In [ ]:
# CONVERTING FLOATS TO INTEGER

victims[['Start year', 'End year', 'Proven victims', 'Possible victims']] = victims[['Start year', 'End year', 'Proven victims', 'Possible victims']].astype('Int64')

In [ ]:

# 
victims['Start year'] = pd.to_numeric(victims['Start year'], errors='coerce')
victims['End year'] = pd.to_numeric(victims['End year'], errors='coerce')


victims['Years Active'] = victims['End year'] - victims['Start year']

### CREATING TOP 15 KILLERS FILE

In [29]:
# SORTING THE TOP 15 BASED ON 'POSSIBLE VICTIMS' , THIS COLUMN HAS BEEN IDENTIFYIED AS A POSSIBLE TOTAL VICTIMS LATER

top15 = victims.sort_values(by='Possible victims', ascending=False,).head(15).copy()

In [30]:
# CREATION OF DICTIONARY INCLUDING URL WITH KILLER PHOTO TO INCLUDE AS A COLUMN LATER

imagenes = {
    'Murder Incorporated': 'https://www.legendsofamerica.com/wp-content/uploads/2017/08/Murderinc.jpg',
    'The Skin Hunters': 'https://static.wikia.nocookie.net/skdb/images/2/2c/Andrzej_Nowocie%C5%84.jpg/revision/latest?cb=20230707162353',
    'Charles Cullen': 'https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/msnbc/Components/Photos/060319/060319_cullen_vsml_8a.jpg',
    'Amelia Sach and Annie Walters': 'https://pm1.aminoapps.com/6044/e102b3c5568cd78a3fb4e16d3d4d4f032f526a8b_00.jpg',
    'Pedro López': 'https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/11/14100939/Pedro-Alonso-Lopez-el-Monstruo-de-los-Andes-3.jpg',
    'Angel Makers of Nagyrév': 'https://www.economist.com/cdn-cgi/image/width=1424,quality=80,format=auto/content-assets/images/20230318_CUP001.jpg',
    'Niels Högel': 'https://www.lavanguardia.com/files/content_image_mobile_filter/uploads/2022/04/21/6261a4bb37515.jpeg',
    'Abul Djabar': 'https://alpha-assets.tadevel-cdn.com/663d766925bc4c6ee7e00f81/720.webp',
    'Frans Hooijmaijers': 'https://thumbor.pijper.io/5EwhMNHH-OViNv253yb-ej8DMuY=/728x0/https%3A%2F%2Fcdn.pijper.io%2F2024%2F11%2Fq6DZBqjmCkIjDH1731685697.png',
    'Harold Shipman': 'https://m.media-amazon.com/images/S/pv-target-images/43d413170f9c3edaac3eceefaedc067b210f7cd44f5566140bceeb13ac977637.jpg',
    'Luis Garavito': 'https://upload.wikimedia.org/wikipedia/commons/7/7b/Luis_Alfredo_Garavito_Cubillos.jpg',
    'Kermit Gosnell': 'https://media.philly.com/images/20140213_dn_0n0wr3al.jpg',
    'Daniel Camargo Barbosa': 'https://upload.wikimedia.org/wikipedia/commons/e/ef/Daniel_Camargo_Barbosa_1958_Mugshot.png',
    'Mariam Soulakiotis': 'https://images.findagrave.com/photos/2024/251/245406222_a2b9c415-c479-410f-afd9-71f5b42a883a.jpeg',
    'Richard Kuklinski': 'https://swashvillage.org/storage/img/images/richard-the-iceman-kuklinski-biography_2.jpg'
}

In [31]:
# CREATING COLUMN WITH PHOTO OF THE KILLERS

top15['Image'] = top15['Name'].map(imagenes)